body {
    font-family: serif;
    font-size: 14px;
    line-height: 1.25;
    color: #777;
}
ul ul {
    font-weight: bold;
    font-style: italic;
}
h1, h2{
    font-family: 'Cormorant Infant', serif;
    letter-spacing: 0.5px;
    color: #000; /* чорний колір */
    text-transform: capitalize; /* кожне слово з великої літери */
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 26px;
}
.double-line {
    line-height: 2;
}
.mail-box {
    width: 150px; /* встановлює фіксовану ширину */
    background-color: #E3FFF6; /* світло-зелений фон */
    border: 5px solid #C2E4C2; /* зелена рамка */
    padding: 5px 20px; /* внутрішні відступи */
    box-sizing: border-box; /* включає padding і border у загальну ширину */
    margin-top: 10px; /* для відступу зверху */
    word-break: break-word; /* переносить текст, щоб він помістився */
}
.ruler {
    width: 150px; /* ширина 150 пікселів */
    background-color: #00FF00; /* яскравий зелений колір */
    color: #777; /* колір тексту */
    padding: 5px; /* внутрішній відступ */
    text-align: center; /* вирівнювання тексту по центру */
    font-size: 14px; /* розмір шрифту */
    margin-bottom: 10px; /* нижній відступ */
}


.mail-box {
    box-sizing: border-box;
}
.mail-box a {
    display: block; 
}
p {
    text-align: justify; 
}
.our-adv {
    background-image: url('http://picsum.photos/id/357/700/400?blur=5');
    background-size: cover; /* зображення покриває весь контейнер */
    background-position: center; /* центрує зображення по горизонталі та вертикалі */
    background-repeat: no-repeat; /* запобігає повторенню зображення */
    padding-top: 30px;
    padding-bottom: 60px;
    color: white;
    font-size: 16px;
}



